/* stylelint-disable no-descending-specificity, no-duplicate-selectors, selector-list-comma-newline-after, block-no-empty */

#contacto-newsletter {
  & > .row {
    background-color: #e6e6e6;
  }

  .row {
    &:first-child {

    }
  }

  .form-container {
    background-color: #e6e6e6;
    color: #000;

    p {
      margin-bottom: 1rem;
    }

    .labelOption {
      margin-left: 0.5rem;
      margin-right: 0.7rem;
    }

    div {
      p {
        &:first-child {
          margin-top: 0;
        }
      }
    }

    input[type="submit"],
    input[type="submit"].btn,
    input[type="button"],
    input[type="button"].btn,
    .btn-primary,
    a.btn {
      @include font-size(1.3);

      color: #fff;
      background-color: $color-naranja-form;
      font-family: $font-ibm-plex-condensed;
      font-weight: 500;
      border: solid 1px #fff;
      padding: 5px 20px;
      display: inline-block;
      width: fit-content;

      @include transition();
    }

    input[type="submit"]:hover,
    input[type="button"]:hover,
    .btn-primary:hover,
    a.btn:hover {
      background-color: #fff;
      border-color: #fff;
      color: $color-naranja-form;
      text-decoration: none;
    }

    input[type="submit"].btn-big,
    input[type="button"].btn-big,
    a.btn.btn-big {
      padding: 15px 25px;
    }

    input[type="text"].search,
    input[type="search"].search {
      display: block;
      width: 100%;
      font-size: 1rem;
      line-height: 1.5;
      color: #495057;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid $color-primary;
      border-radius: 0.25rem;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
  }
}

.form-container {
  background-color: $color-naranja-form;
  padding: 1.5rem;
  color: #fff;
  font-family: $font-ibm-plex-condensed;

  .logo-social-container {
    @include display-flex();
    @include align-items(flex-end);
    @include justify-content(flex-start);

    margin-bottom: 2rem;

    .nav-social-container {
      padding-top: 0.7rem;
      padding-left: 2rem;

      div {
        ul {
          .fab,
          .far {
            color: #fff;
          }
        }
      }
    }
  }

  h2 {
    @include font-size(1.3);

    font-weight: 700;
  }

  p {
    @include font-size(0.875);
    @include line-height(1.2);

    font-family: $font-ibm-plex;
    font-weight: 400;
  }

  .wpcf7 {
    p {
      margin-top: 1rem;
      margin-bottom: 0;
    }

    input[type="text"],
    input[type="email"],
    input[type="telephone"],
    input[type="password"],
    select {
      width: 100%;
      border-style: none;
    }

    span.wpcf7-not-valid-tip {
      position: static;
      width: 100%;
      border: 0;
      color: red;
    }

    .wpcf7-form {
      label {
        font-family: $font-ibm-plex-condensed;
        font-weight: 500;
        width: 100%;
      }

      .wpcf7-text,
      .wpcf7-textarea {
        width: 100%;
      }

      .wpcf7-text {
        height: 32px;
      }

      .wpcf7-textarea {
        height: 120px;
      }

      input,
      textarea {
        @include font-size(1);
        @include line-height(1.2);

        background: #fff;
        max-width: 100%;
        font-weight: 500;
      }

      input:focus,
      textarea:focus {
        background: white;
      }

      input[type="submit"],
      input[type="submit"].btn,
      input[type="button"],
      input[type="button"].btn,
      .btn-primary,
      a.btn {
        @include font-size(1.3);

        background-color: #fff;
        color: $color-naranja-form;
        font-family: $font-ibm-plex-condensed;
        font-weight: 500;
        border: solid 1px #fff;
        padding: 5px 20px;
        display: inline-block;
        width: fit-content;
      }

      input[type="submit"]:hover,
      input[type="button"]:hover,
      .btn-primary:hover,
      a.btn:hover {
        background: $color-naranja-form;
        border-color: #fff;
        color: #fff;
        text-decoration: none;
      }

      input[type="submit"].btn-big,
      input[type="button"].btn-big,
      a.btn.btn-big {
        padding: 15px 25px;
      }

      input[type="text"].search,
      input[type="search"].search {
        display: block;
        width: 100%;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid $color-primary;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      }
    }
  }
}

#contacto-anunciantes {
  .row {
    &:first-child {
      background-color: $color-naranja-form;
    }
  }
}

#formulario-comentario {
  .row {
    &:first-child {
      background-color: #000;
    }
  }

  .form-container {
    background-color: #000;

    .wpcf7-form {
      input[type="submit"] {
        display: block;
      }
    }
  }
}

/* stylelint-enable no-descending-specificity, no-duplicate-selectors, selector-list-comma-newline-after, block-no-empty */
