/* stylelint-disable no-descending-specificity, no-duplicate-selectors, selector-list-comma-newline-after, block-no-empty */
main {
  margin-top: 26px;

  .banner {
    img {
      width: 100%;
      height: auto;
    }
  }

  .banner-horizontal {
    padding-top: 20px;
    padding-bottom: 20px;

    img {
      width: 940px;
      height: 100px;
    }
  }

  .banner-vertical {
    background-color: #f2f2f2;
    height: 100%;

    @include display-flex(column);
    @include justify-content(space-evenly);

    img {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
    }

    > div > * {
      max-width: 300px;
      overflow: hidden;
    }
  }

  .banner-vertical-rectangular {
    img {
      width: 300px;
      height: 135px;
    }
  }

  .banner-vertical-cuadrado {
    img {
      width: 300px;
      height: 300px;
    }
  }

  #grupoVideosDestacados {
    .subtitulo-grupo-noticias {
      width: 160px;

      img {
        width: 100%;
        height: 20px;
      }
    }
  }

  .subtitulo-grupo-noticias {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 100px;
    height: 20px;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: $font-ibm-plex;

      @include font-size(0.875);

      font-weight: 700;
      color: #fff;
      margin-bottom: 0.25rem;

      @include transition(color, 0.3s, linear, 0s);

      &:hover {
        color: #000;
      }
    }

    img {
      vertical-align: top;
      margin-top: -1px;
    }

    .texto-centrado {
      position: absolute;
      top: 50%;
      left: 20%;
      transform: translate(-20%, -50%);
    }

    span {
      margin-top: -3px;
    }
  }

  .left-sidebar-container {
    width: 60px;
  }

  .fecha-container {
    font-family: $font-ibm-plex-condensed;
    padding-top: 1.2rem;

    .fecha-dia {
      font-weight: 300;

      @include font-size(0.875);
      @include line-height(1.2);
    }

    .fecha-mes {
      @include font-size(0.5);
      @include line-height(1.2);

      font-weight: 400;
    }

    .temperatura {
      @include font-size(1.625);
      @include line-height(1);

      font-weight: 300;
      color: $color-rojo-resalte;
      margin-top: 1rem;
    }

    .ubicacion {
      @include font-size(0.5);
      @include line-height(1.2);

      font-weight: 400;
    }
  }

  .noticias-verticales-agrupadas,
  .noticia-vertical-unica,
  #grupoRenovables {
    .noticia {
      .separator {
        margin-top: 0;
      }
    }
  }

  .noticias-verticales-agrupadas {
    .noticia-vertical {
      .noticia-titulo {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
          padding-top: 0;
        }
      }
    }
  }

  .noticia-imagen {
    img {
      width: 100%;
      height: auto;
    }
  }

  .noticia-titulo {
    a {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        @include font-size(1.25);
        @include line-height(1.2);

        font-family: $font-merriweather;
        font-weight: 900;
        color: $color-text;

        @include transition(color, 0.3s, linear, 0s);

        &:hover {
          text-decoration: none;
          color: $color-rojo-resalte;
        }
      }

      &:hover {
        text-decoration: none;
      }
    }
  }

  .noticia-texto {
    @include font-size(0.8125);
    @include line-height(1.2);

    font-family: $font-ibm-plex;
    font-weight: 300;
  }

  .noticia-volanta {
    @include font-size(0.6875);
    @include line-height(1.2);

    font-family: $font-ibm-plex;
    font-weight: 400;
    margin-bottom: 0.5em;
    text-transform: uppercase;
  }

  .noticia-autor {
    a {
      @include font-size(0.625);
      @include line-height(1.2);

      font-family: $font-ibm-plex;
      font-weight: 700;
      margin-top: 1em;
      margin-bottom: 1em;
      color: $color-text;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .noticia {
    .separator {
      @include linea-separadora-inferior-completa($color-rojo-resalte);

      width: 80px;
      margin-top: 0.8em;
      margin-bottom: 0.8em;
    }
  }

  .noticia-container {
    margin-right: -15px;
    height: 100%;

    .noticia {
      margin-right: 15px;
    }
  }

  .noticia-destacada {
    padding-bottom: 0.6rem;

    .noticia-titulo {
      margin-top: 0.4em;
      margin-bottom: 1.1em;
    }

    .noticia-texto {
      &.texto-post-titulo {
        margin-top: 0.5rem;
        margin-bottom: 1rem;
        margin-left: 0;
        margin-right: 0;
      }
    }
  }

  .noticia-vertical {
    .noticia-titulo {
      a {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
          @include font-size(1);
          @include line-height(1.18);

          font-weight: 300;
          margin-bottom: 1.125em;
          padding-top: 1em;
        }
      }
    }
  }

  .noticia-vertical.noticia-vertical-completa {
    .noticia-volanta {
      margin-top: 1em;
      font-size: 0.6875rem;
    }

    .noticia-titulo {
      @include font-size(1.25);
      @include line-height(1.2);
    }

    a {
      h3 {
        padding-top: 0;
      }
    }
  }

  .noticia-horizontal {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;

    .noticia-titulo {
      a {
        h3 {
          @include font-size(1.5625);
          @include line-height(1.25);
        }
      }
    }
  }

  aside {
    &.right-sidebar {
      background-color: #333;
      color: #fff;
    }

    a {
      text-decoration: none;

      &:hover {
        text-decoration: none;
      }
    }

    #widget-lasmasleidas {
      padding-bottom: 1rem;

      .widget-title-container {
        width: fit-content;
        max-width: 50px;
        background-color: $color-rojo-resalte;
        padding: 0.5em;
        margin-bottom: 1rem;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
          font-family: $font-ibm-plex;

          @include font-size(0.625);
          @include line-height(1.2);

          font-weight: 700;
          margin-left: auto;
          margin-right: auto;
          margin-top: 0;
          margin-bottom: 0;
        }
      }

      .widget-content {
        @include display-flex(row);

        .position {
          font-family: $font-merriweather;

          @include font-size(1.5);

          font-weight: 700;
          margin-left: 16px;
          margin-right: 16px;
        }

        .item-content {
          flex-grow: 2;
          padding-right: 1em;

          h1,
          h2,
          h3,
          h4,
          h5,
          h6 {
            font-family: $font-ibm-plex-condensed;

            @include font-size(0.75);
            @include line-height(1.34);

            padding-top: 0.9em;
            color: #fff;
          }

          .headline-content {
            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
              font-family: $font-merriweather;

              @include font-size(0.9);
              @include line-height(1.1);

              font-weight: 300;
              padding-top: 0.5em;

              @include transition(color, 0.3s, linear, 0s);

              &:hover {
                color: $color-rojo-resalte;
              }
            }
          }

          .separator {
            @include linea-separadora-inferior-completa($color-rojo-resalte);

            width: 46px;
            margin-top: 0.8rem;
            margin-bottom: 0.5rem;
          }
        }
      }
    }
  }

  .noticias-seccion-especial-container {
    background-color: $color-gris-seccion-especial;
  }

  #grupoOilGas,
  #grupoRenovables {
    .noticia-destacada {
      .noticia-titulo {
        margin-top: 0;
      }
    }
  }

  #grupoActualidad,
  #grupoVideosDestacados,
  #grupoOpinion {
    .noticias-seccion-especial-container {
      .noticia {
        .noticia-volanta {
          font-family: $font-ibm-plex;

          @include font-size(0.8);
          @include line-height(1.25);

          font-weight: 700;
          margin-top: 1rem;
          margin-bottom: 0;
          text-transform: none;
        }

        .noticia-titulo {
          h1,
          h2,
          h3,
          h4,
          h5,
          h6 {
            font-family: $font-merriweather;

            @include font-size(1);
            @include line-height(1.2);

            font-weight: 300;
          }
        }
      }
    }
  }

  #grupoVideosDestacados {
    .noticias-seccion-especial-container {
      .noticia {
        .noticia-titulo {
          margin-top: 1rem;
        }
      }
    }
  }

  #grupoRevistaTrama {
    .subtitulo-grupo-noticias {
      background-color: #000;
      display: block;
      text-align: left;
      width: 300px;
      padding: 0.45em 0.65em;
      height: inherit;

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        @include font-size(0.875);
        @include transition(color, 0.3s, linear, 0s);

        font-family: $font-ibm-plex;
        font-weight: 700;
        color: #fff;
        margin-bottom: 0;

        &:hover {
          color: $color-rojo-resalte;
        }
      }
    }

    #revista-trama-container {
      background-color: #f0f0f0;
      padding-top: 15px;
      padding-bottom: 15px;

      .noticia {
        .noticia-volanta {
          @include font-size(0.7);

          font-weight: 700;
          margin-top: 1em;
        }

        .noticia-titulo {
          h1,
          h2,
          h3,
          h4,
          h5 {
            @include font-size(2.25);

            font-weight: 300;
          }
        }

        .noticia-texto {
          @include font-size(0.9375);
          @include line-height(1.3);
        }

        .noticia-autor {
          a {
            @include font-size(0.9375);
            @include line-height(1.3);

            font-weight: 600;
          }
        }
      }
    }

    #revista-trama-inferior-container {
      .linea-separadora-superior-completa-negra {
        border-top-width: 0.5px;
      }

      .noticia {
        @include display-flex(row);
        @include flex-wrap(wrap);

        .noticia-imagen {
          -ms-flex: 0 0 auto;
          -webkit-box-flex: 0;
          flex: 0 0 auto;
          width: auto;
          max-width: 100%;
          margin-right: 15px;

          img {
            width: 120px;
          }
        }

        .noticia-contenido {
          -ms-flex-preferred-size: 0;
          flex-basis: 0;
          -ms-flex-positive: 1;
          -webkit-box-flex: 1;
          flex-grow: 1;
          max-width: 100%;
          margin-right: -15px;

          .separator {
            margin-top: -1px;
            border-bottom-color: #000;
            border-bottom-width: 2px;
            width: 70px;
          }

          .noticia-volanta {
            @include line-height(1.25);

            font-weight: 600;
          }

          .noticia-titulo {
            h1,
            h2,
            h3,
            h4,
            h5 {
              @include font-size(1.125);

              font-weight: 700;
            }
          }
        }
      }
    }

    .linea-separadora-superior-completa-negra {
      border-top-width: 0.5px;
    }
  }

  #grupoMineria {
    .noticia-vertical {
      .separator {
        margin-top: 0;
      }
    }
  }

  .noticia {
    .noticia-social {
      li {
        a {
          @include font-size(1.7);

          i {
            @include transition();

            color: #000;
          }

          &:hover {
            text-decoration: none;
            color: $color-rojo-resalte;

            i {
              color: $color-rojo-resalte;
            }
          }
        }
      }
    }

    .boton-seguir-leyendo {
      @include font-size(1.125);

      background-color: $color-rojo-resalte;
      color: #fff;
      width: 100%;
      text-align: center;
      padding: 0.5em;
      font-family: $font-ibm-plex;
      font-weight: 600;
    }
  }

  .sidebar-right-container {
    @include display-flex(column);

    .banner-vertical {
      padding: 1.5rem 0;
      height: inherit;
    }
  }

  #noticia-principal,
  #contenido-unico,
  #busqueda {
    color: #000;
    margin-bottom: 50px;
    font-size: 1rem;

    .post-meta {
      @include font-size(0.875);
      @include line-height(1.7);

      font-family: $font-ibm-plex;
      font-weight: 400;
      color: $color-gris-oscuro;

      p {
        display: inline-block;
        margin-top: 0;
        margin-bottom: 0.5em;
        margin-right: 5px;
      }

      a {
        color: $color-gris-oscuro;
        background-color: $color-gris-claro;
        padding: 0.1em 0.5em;
        margin-right: 15px;
      }
    }

    .noticia-fecha {
      @include font-size(0.875);
      @include line-height(1.2);

      font-family: $font-ibm-plex;
      font-weight: 400;
      color: #808080;
    }

    .noticia-volanta {
      @include font-size(1);
      @include line-height(1.2);

      font-family: $font-ibm-plex;
      font-weight: 500;
    }

    .noticia-titulo {
      h1,
      h2,
      h3,
      h4 {
        font-family: $font-merriweather;

        @include font-size(2.375);
        @include line-height(1.2);

        font-weight: 900;
      }
    }

    .noticia-autor {
      a {
        font-family: $font-ibm-plex;

        @include font-size(1);
        @include line-height(1.2);

        font-weight: 600;
      }
    }

    .noticia-texto {
      font-size: 1rem;

      h2,
      h3,
      h4 {
        font-family: $font-merriweather;
        font-weight: 700;
      }

      h2 {
        @include font-size(1.5);
        @include line-height(1.2);
      }

      h3 {
        @include font-size(1.3);
        @include line-height(1.2);
      }

      h4 {
        @include font-size(1.1);
        @include line-height(1.2);
      }

      p {
        @include font-size(1);
        @include line-height(1.4);

        font-family: $font-merriweather;
        font-weight: 300;

        &.copete {
          @include font-size(1.5);
          @include line-height(1.2);

          font-family: $font-ibm-plex;
          font-weight: 500;
        }
      }

      li {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
      }
    }

    footer {
      @include font-size(1.375);
      @include line-height(1.3);

      font-family: $font-ibm-plex;

      .editorial {
        font-weight: 600;
      }

      .direccion,
      .contacto {
        font-weight: 400;
        margin-top: 1rem;

        p {
          margin-top: 0;
          margin-bottom: 0;
        }
      }
    }
  }

  .cta-newsletter {
    @include display-flex();
    @include align-items(center);

    margin: 1rem 0;
    background-color: #000;
    padding: 1rem 0.5rem;

    .header-logo-container {
      img {
        width: 206px;
        height: auto;
      }

      flex-grow: 0;
    }

    .input-newsletter-container {
      flex-grow: 1;
    }

    form {
      @include display-flex();

      height: 35px;
      justify-content: space-between;

      div {
        &:first-child {
          padding-left: 1rem;
          padding-right: 1rem;
          flex-grow: 1;
        }
      }
    }

    input[type="submit"],
    input[type="submit"].btn,
    input[type="button"],
    input[type="button"].btn,
    .btn-primary,
    a.btn {
      @include font-size(1);
      @include transition();

      color: #fff;
      background-color: $color-naranja-form;
      font-family: $font-ibm-plex-condensed;
      font-weight: 500;
      border: solid 1px $color-naranja-form;
      padding: 5px 5px;
      display: block;
      height: 35px;
    }

    input[type="submit"]:hover,
    input[type="button"]:hover,
    .btn-primary:hover,
    a.btn:hover {
      background-color: #fff;
      border-color: #fff;
      color: $color-naranja-form;
      text-decoration: none;
    }

    input[type="text"] {
      font-family: $font-ibm-plex;
      font-weight: 400;

      @include font-size(1);
      @include line-height(1.2);

      display: inline-block;
      color: #495057;
      background-color: $color-fondo-buscador;
      border: 0;
      padding: 5px 5px;
      border-radius: 0;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      height: 35px;
      width: 100%;
    }
  }

  #busqueda {
    .search-container {
      display: inline-block;
      text-align: right;
      margin-top: 0;
      margin-top: 9px;
      width: 100%;

      input[type="radio"] {
        margin-left: 0.2rem;
        margin-right: 1rem;

        &:last-child {
          margin-right: 0;
        }
      }

      .labelOption {
        @include font-size(0.81);
        @include line-height(1.2);

        font-family: $font-ibm-plex;
        font-weight: 600;
      }

      .search {
        @include display-flex();

        display: inline-block;
        width: 100%;
        height: 44px;
        background-color: $color-fondo-buscador;
        text-align: left;

        input {
          flex-grow: 1;
          border-color: $color-primary;
        }

        input[type="search"] {
          font-family: $font-ibm-plex;
          font-weight: 400;

          @include font-size(1.25);
          @include line-height(1.2);

          display: inline-block;
          color: #495057;
          background-color: $color-fondo-buscador;
          background-clip: padding-box;
          border: 0;
          padding: 15px 15px;
          border-radius: 0;
          transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        }

        .fas {
          color: #999;
          border-bottom: $color-rojo-resalte solid 2px;
          height: 100%;
          width: 40px;
          padding-left: 10px;
          padding-top: 14px;
          margin-right: 0;

          @include transition();

          &:hover {
            color: $color-menu-hover-active;
          }
        }
      }
    }

    #filtros {
      margin-top: 38px;

      label {
        @include line-height(1.3);

        font-family: $font-ibm-plex;
        font-weight: 600;
        font-size: 0.81rem;
      }

      .filters {
        @include display-flex(column);

        margin-top: 1rem;

        .post-meta {
          a {
            @include rounded-corners();

            &.activate,
            &:hover {
              color: #fff;
              background-color: $color-rojo-resalte;
            }
          }
        }

        a {
          color: #666;
          font-family: $font-ibm-plex;
          font-weight: 300;
          font-size: 0.81rem;
          text-transform: uppercase;
          margin-bottom: 0.3rem;

          @include line-height(1.2);
          @include transition();

          &.activate,
          &:hover {
            text-decoration: none;
            color: $color-rojo-resalte;
          }
        }

        a, label {
          width: fit-content;
        }
      }
    }

    #mostrarFiltros {
      @include font-size(1.125);
      @include display-flex();
      @include justify-content(center);

      background-color: $color-rojo-resalte;
      color: #fff;
      width: 100%;
      text-align: center;
      padding: 0.5em;
      font-family: $font-ibm-plex;
      font-weight: 600;
      margin-bottom: -15px;

      i {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        color: #fff;

        &.fa-chevron-down {
          display: none;
        }
      }
    }

    h2 {
      font-family: $font-ibm-plex;
      font-weight: 600;

      @include font-size(1.31);
      @include line-height(1.2);

      margin-top: 1.5rem;
    }

    #notas-listado {
      .noticia-volanta {
        @include font-size(0.6875);

        a {
          &.volanta-seccion {
            color: $color-rojo-resalte;

            &:hover {
              text-decoration: none;
            }

            &::after {
              content: " | ";
              color: #000;
            }
          }
        }
      }

      .noticia-titulo {
        h2 {
          margin-top: 0;
        }
      }
    }

    .search-pagination-container {
      font-size: 1rem;

      ul {
        @include display-flex();
        @include justify-content(center);

        list-style-type: none;
        flex-wrap: wrap;
        padding-left: 0;

        li {
          margin: 0 0.5rem;
          vertical-align: middle;

          @include display-flex(column);
          @include justify-content(center);

          &.current {
            a {
              color: $color-rojo-resalte;
            }
          }

          a {
            font-family: $font-ibm-plex;
            font-weight: 600;

            @include font-size(1.31);
            @include line-height(1.2);

            color: #000;

            @include transition();

            .fa-stack {
              @include font-size(0.9);
            }

            &:hover {
              text-decoration: none;
              color: $color-rojo-resalte;
            }

            .fas,
            .far {
              color: #000;

              @include transition();

              &:hover {
                color: $color-rojo-resalte;
              }
            }
          }
        }
      }
    }
  }

  #notas-listado {
    margin-top: 40px;
    margin-bottom: 40px;

    .noticia {
      margin-bottom: 1.3rem;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }

      .noticia-volanta {
        font-weight: 600;
      }

      .noticia-titulo {
        h1,
        h2,
        h3,
        h4 {
          font-weight: 300;

          @include font-size(1.375);
        }
      }

      .noticia-texto {
        font-weight: 300;

        @include font-size(0.81);
      }

      img {
        max-width: 170px;
      }

      .separator {
        margin-top: 0;
      }
    }

    .sidebar-right-container {
      height: 100%;
    }
  }

  /*  Paginación */
  .blog-navigation-container {
    padding: 1rem;
    text-align: center;
  }

  .posts-navigation-container {
    font-family: $font-ibm-plex;
    font-weight: 400;

    @include font-size(0.8);
    @include line-height(1.2);

    padding: 1.3rem;
    margin: 1.5rem 0;
    text-align: left;
    color: #000;

    a {
      text-decoration: none;
      color: #000;
    }

    i.fas {
      color: #000;
      font-size: 12px;
    }

    .alineacion-izquierda {
      .fas {
        margin-left: 0;
        margin-right: 0.5rem;
      }
    }

    .alineacion-derecha {
      i {
        margin-right: 0;
        margin-left: 0.5rem;
      }
    }

    span {
      text-transform: uppercase;
    }
  }

  .comments-area {
    padding-top: 1rem;
    font-family: $font-ibm-plex;
    font-weight: 300;
    font-size: 1rem;

    @include line-height(1.2);

    h2 {
      font-family: $font-ibm-plex;
      font-weight: 500;

      @include font-size(0.9);
      @include line-height(1.2);
    }

    .comments-list {
      margin-left: 19px;
      margin-bottom: 0;
      padding-left: 0;

      .comment {
        margin-bottom: 2rem;

        .children {
          margin-top: 2rem;
          margin-bottom: 0;
          padding-left: 2rem;
        }

        &.bypostauthor {
          background-color: #fff;

          .comment-body {
          }
        }

        .comment-body {
          padding: 2rem;
          background-color: $color-menu-top;

          @include rounded-corners();

          footer {
            padding: 0;
            margin: 0;

            &.comment-meta {
              font-size: 0.8em !important;
              line-height: 1.2em !important;

              .comment-author {
                img {
                  margin-right: 0.3rem;
                }

                .fn {
                  display: inline-block;
                  font-weight: 400;

                  .says {
                    font-weight: 300;
                  }
                }
              }

              .comment-metadata {
                margin-top: 0.3rem;

                a {
                  color: $color-rojo-resalte;

                  &:hover {
                    text-decoration: none;
                  }
                }
              }
            }
          }

          a {
            &.comment-reply-link {
              font-size: 0.8rem;
              font-weight: 700;
              text-decoration: none;
              text-transform: uppercase;
              -webkit-transition: all 300ms ease;
              transition: all 300ms ease;
              color: $color-rojo-resalte;

              &:hover {
                color: $color-rojo-resalte;
              }
            }
          }

          .comment-content {
            p {
              margin-top: 1em;
              margin-bottom: 1em;

              @include font-size(0.8);
              @include line-height(1.2);
            }
          }
        }
      }
    }

    .comment-form-container {
      margin: 0 0 1rem;

      label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
      }

      textarea {
        min-height: 8rem !important;
        padding: 1rem !important;
        border: none !important;
        background-color: #f6f6f6 !important;
        border-radius: 0;
        line-height: 1.4em !important;
      }

      input[type="text"],
      .comments-area input[type="password"],
      .comments-area input[type="color"],
      .comments-area input[type="date"],
      .comments-area input[type="datetime-local"],
      .comments-area input[type="email"],
      .comments-area input[type="month"],
      .comments-area input[type="number"],
      .comments-area input[type="range"],
      .comments-area input[type="search"],
      .comments-area input[type="tel"],
      .comments-area input[type="time"],
      .comments-area input[type="url"],
      .comments-area input[type="week"] {
        display: inline-block;
        width: 100%;
        height: 50px;
        padding: 0 1rem;
        border: none;
        background: #f6f6f6;
        border-radius: 0;
        line-height: 50px;
      }

      input[type="submit"] {
        @include rounded-corners();
      }

      .comment-form-comment,
      .comment-form-author,
      .comment-form-email,
      .comment-form-url {
        margin-top: 1rem;
        margin-bottom: 1rem;
      }

      .comment-form-done {
        display: none;
        padding: 20px;
        text-align: center;
        background-color: #ddd;
      }

      .comment-form-fail {
        display: none;
        margin-top: 10px;
        padding: 10px;
        background-color: #ffdede;
      }
    }
  }

  .pagination-container {
    font-size: 1rem;

    ul {
      @include display-flex();
      @include justify-content(center);

      list-style-type: none;
      flex-wrap: wrap;
      padding-left: 0;

      li {
        @include display-flex(column);
        @include justify-content(center);

        margin: 0 0.5rem;
        vertical-align: middle;

        &.current {
          a {
            color: $color-rojo-resalte;
          }
        }

        a {
          font-family: $font-ibm-plex;
          font-weight: 600;

          @include font-size(1.31);
          @include line-height(1.2);

          color: #000;

          @include transition();

          .fa-stack {
            @include font-size(0.9);
          }

          &:hover {
            text-decoration: none;
            color: $color-rojo-resalte;
          }

          .fas,
          .far {
            color: #000;

            @include transition();

            &:hover {
              color: $color-rojo-resalte;
            }
          }
        }
      }
    }
  }
}

.blog-container {
  margin-top: 2rem;
}

.page-numbers {
  display: inline-block;
  padding: 0.5rem 1rem;
  opacity: 0.4;
  color: $color-secondary;
  font-weight: 700;
  text-decoration: none;
}

.page-numbers:hover {
  opacity: 1;
}

.page-numbers.current {
  opacity: 1;
}

/* =================SIDEBAR====================== */

aside.bottom-sidebar {
  margin-top: 1rem;
  padding: 3rem 0;
  min-height: 500px;
  display: block;
  padding-top: 2em;
  padding-bottom: 2em;

  //  @include scroll-middle-shadow($color-fondo-primario, rgba(106,124,143,0), $color-sombreado, $image-sidebar-bottom, 14%, 68%);
}

/* ======================PROYECTOS======================= */

.tabs {
  text-align: center;
}

.s-tabs,
.s-tab-menu {
  position: relative;
}

.s-tabs::before,
.s-tabs::after {
  content: " ";
  display: table;
}

.s-tabs::after {
  clear: both;
}

.tabs-menu {
  display: inline-block;
  padding: 1rem 0.5rem;
  border-radius: 8px;
  box-shadow: inset 0 2px 25px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  background-color: $color-sombreado;
}

.tab-link {
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  padding: 9px 30px;
  text-align: left;
  cursor: pointer;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  border-radius: 5px;
  border: solid $color-light-grey;
  background-color: $color-text;
  font-size: 0.9rem;
  line-height: 1.8em;
  font-weight: 700;
  text-transform: uppercase;

  &:hover {
    transition: background-color 400ms ease 0s;
    background-color: $color-sombreado;
  }

  div {
    color: #f6f6f6;
  }
}

.tab-link.s-current {
  background-color: $color-primary;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  color: $color-contraste;
  border-color: $color-primary;
}

.s-inline-block {
  max-width: 100%;
  display: inline-block;
}

.s-tab-content {
  position: relative;
  display: block;
  overflow: hidden;
}

.s-tab-pane {
  position: relative;
  display: none;
}

.s-tab-active {
  display: block;
}

@media screen and (max-width: 479px) {
  .s-tab-link {
    display: block;
  }
}

.blog-container.portfolio {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 2rem;
}

.portfolio-projects {
  padding-top: 0;
}

.projects-list {
  margin-top: 3rem;

  @include display-flex(row);

  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;

  @include flex-wrap(wrap);

  display: block;
  width: 100%;
  min-height: 15rem;
  margin-bottom: 4rem;
  background-position: 50% 50%;
  background-size: auto;
  background-repeat: no-repeat;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }

  .project-resume-text-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    min-height: 15rem;
    padding: 2rem 1rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: $color-primary;
    opacity: 0;
    color: $color-contraste;
    text-align: center;
    transition: opacity 200ms ease 0s;

    &.fixed {
      position: absolute;
      left: 0;
      top: 0;
    }

    &:hover {
      transition: opacity 400ms ease 0s;
      opacity: 0.9;
    }

    .project-resume-title {
      margin-top: 0;
      margin-bottom: 0;
      -webkit-transform: translate(0, 1rem);
      -ms-transform: translate(0, 1rem);
      transform: translate(0, 1rem);
    }

    .project-resume-services {
      margin-top: 0;
      -webkit-transform: translate(0, 1rem);
      -ms-transform: translate(0, 1rem);
      transform: translate(0, 1rem);
      font-size: 0.9rem;
    }

    .project-resume-btn {
      -webkit-transform: translate(0, 1rem);
      -ms-transform: translate(0, 1rem);
      transform: translate(0, 1rem);
      font-weight: 700;
    }
  }
}

/* stylelint-enable no-descending-specificity, no-duplicate-selectors, selector-list-comma-newline-after, block-no-empty */
