/* stylelint-disable no-descending-specificity, no-duplicate-selectors, selector-list-comma-newline-after, block-no-empty */

footer {
  margin-top: 3rem;
  margin-bottom: 0.5rem;
  color: #000;

  .container {
    background-color: $color-footer;
    border-top-color: #333;
    border-top-style: solid;
    border-top-width: 1px;
    padding-top: 1.5rem;

    .footer-logo-container {
      margin-left: 15px;

      img {
        width: 190px;
        height: auto;
      }
    }

    .copyright-container {
      @include IbmPlex-light();

      margin-left: 15px;
      font-size: 0.8125rem;

      p {
        @include line-height(1.2);

        margin-top: 0;
        margin-bottom: 0;

        &:first-child {
          margin-top: 0.3em;
        }
      }
    }

    .nav-social-container {
      padding-top: 0;
      text-align: right;
      margin-right: 15px;
      flex-grow: 2;

      div {
        font-size: 11px;

        ul {
          list-style-type: none;

          & li {
            display: inline;
          }

          .fab,
          .far {
            color: #000;
          }
        }
      }
    }
  }

  .footer-copyright-social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    @include font-size(1);

    .copyright {
      a {
        text-decoration: none;

        &.agencialol {
          color: #00783c;
        }

        &.solbak {
          color: #00783c;
        }
      }
    }

    .footer-social {
      #seguinos {
        font-weight: bold;
      }

      .social-footer {
        height: 1.5rem;
        padding-left: 0.5rem;
        padding-right: 0.2rem;
      }
    }
  }

  &#main-footer {
    .widget ul li {
      display: block;
      margin-bottom: 1rem;
    }

    .widget_twitter .entry-content {
      display: block;
    }
  }

  ul {
    list-style: none;
    padding: 0;
  }

  #footer-copyright {
    font-size: 0.8em;
    text-align: center;
    background: $color-primary;
    padding: 0.4rem 0;
    color: #ddd;

    a {
      color: $color-secondary;
      font-weight: bold;
    }
  }

  #main-footer {
    padding-bottom: 1rem;
    color: #ddd;

    .fas {
      color: $color-primary;
    }

    a {
      color: #ddd;
    }
  }

  #footer-widgets-area {
    padding-top: 60px;
    padding-bottom: 60px;

    ul,
    li {
      list-style: square !important;
    }

    a {
      color: #333;
    }

    .widget {
      border-bottom: 0;
    }

    .widget_twitter a,
    .widget_text a {
      color: $colorLink;
    }

    .widget_twitter {
      .entry-meta,
      .intent-meta,
      .entry-meta a,
      .intent-meta a {
        color: #666;
      }
    }
  }

  #footer-bottom-area {
    #footer-bottom-area-centrada {
      text-align: center;

      #divButtonMenu {
        margin-bottom: 20px;

        a.button {
          @include font-size(1.6);

          font-weight: bold;
          color: #124c96;
          transition: all 0.5s ease-out;
          padding: 0.2em 1.5em;
          border: #124c96 solid 1px;
          text-decoration: none;

          &:hover {
            color: #00c;
            text-decoration: none;
            border: #00c solid 1px;
          }
        }
      }

      .footer-social {
        @include font-size(3);

        text-align: center;

        a {
          padding-left: 10px;
          color: $textoDestacado;

          &:hover {
            color: #fff;
            text-decoration: none;
          }

          &.linkedin:hover {
            color: #0096ca;
          }

          &.youtube:hover {
            color: red;
          }

          &.twitter:hover {
            color: #28aae1;
          }

          &.facebook:hover {
            color: blue;
          }
        }
      }
    }
  }
}

/* stylelint-enable no-descending-specificity, no-duplicate-selectors, selector-list-comma-newline-after, block-no-empty */
