/* stylelint-disable no-descending-specificity */

header {
  display: block;
  width: 100%;

  .navTop {
    font-weight: 300;

    .container {
      background-color: $color-menu-top;

      .wrapperBox,
      .main.wrapper {
        @include display-flex(row);

        justify-content: flex-start;
        height: 34px;

        .header-indicator {
          margin-top: 5px;
          margin-right: 16px;

          table {
            margin: 0 !important;

            td {
              @include IbmPlex-light();

              font-weight: 400 !important;
              border-bottom: none;
              padding: 0;
              padding-right: 0 !important;
              padding-left: 4px !important;
              font-size: 0.875rem;
            }

            td:first-child {
              font-weight: 500 !important;
            }
          }
        }

        .header-indicator:last-child {
          margin-right: 0;
        }
      }
    }
  }

  //* ***********NAV TOP

  //* ***********HEADER PRINCIPAL

  .header-nav-logo {
    height: 80px;

    .container {
      background-color: $color-header;

      a {
        &:hover {
          text-decoration: none;
        }
      }

      #header-superior {
        margin-left: 0;
        margin-right: 0;
        //**********LABEL SUSCRIBITE

        .lblSuscribite {
          color: #ccc;
          font-family: $font-suscribite;
          font-size: 22px;
          font-weight: 900;
          margin-bottom: 0;
          padding-right: 15px;

          @include transition();

          &:hover,
          &active {
            color: $color-menu-hover-active;
            text-decoration: none;
          }
        }

        .header-logo-container {
          img {
            width: 223px;
            height: auto;
          }
        }
        // MENU HAMBURGUESA

        .col-mobile-menu {
          display: none;

          .navbar {
            display: inline-block;
            padding-left: 0;
            padding-right: 0;

            button {
              border: none;
              color: inherit;
              padding-right: 0;
              padding-left: 0;
              margin-left: 0.75rem;
            }
          }

          .fas {
            color: #fff;
            font-size: 22px;
            margin: 0;
          }
        }

        // MENU HAMBURGUESA

        .menu-social-container {
          flex-grow: 2;

          .social-search-container {
            display: block;

            @include display-flex(row);

            justify-content: space-between;

            .nav-social-container {
              display: inline-block;
            }

            .search-container {
              display: inline-block;
              text-align: right;
              margin-top: 0;

              a {
                text-decoration: none;

                &:hover {
                  text-decoration: none;
                }
              }

              .lblSuscribite {
                vertical-align: bottom;
              }

              .search {
                width: 300px;

                i {
                  height: 25px;
                }

                input[type="search"].search-header {
                  display: inline-block;
                }
              }
            }
          }

          .nav-menu-container {
            text-align: left;
            bottom: 0;

            .menu-icon {
              display: none;
            }

            #main-nav {
              display: inline-block;

              @include main-nav-font();

              padding-bottom: 0;
              padding-top: 0.78rem;

              select {
                display: none;
              }

              ul.menu {
                margin-bottom: 0;
                padding-left: 0;
                list-style-type: none;

                li {
                  &.menu-item {
                    color: $color-main-menu;

                    @include transition();

                    a {
                      padding-top: 0;
                      padding-bottom: 0;
                      padding-left: 0.4375rem;
                      padding-right: 0.4375rem;
                      position: relative;
                      text-decoration: none;
                      text-align: left;
                      display: block;
                      width: max-content;
                      color: inherit;
                      text-transform: uppercase;

                      @include font-size(1);
                    }

                    &.current,
                    &.current-menu-item {
                      color: $color-menu-hover-active;
                    }

                    &:hover {
                      color: $color-menu-hover-active;
                    }
                  }
                }
              }
            }

            img {
              height: 1.2rem;
              margin-bottom: 2px;
              margin-left: 1px;
            }
          }
        }

        //*******MENU SOCIAL DENTRO DEL MENU NEGRO

        .nav-social-container {
          padding-top: 0.7rem;
          padding-left: 2rem;

          div {
            ul {
              .fab,
              .far {
                color: #fff;
              }
            }
          }
        }
      }
    }
  }

  //************HEADER PRINCIPAL
  //************SEARCH*********

  .search-container {
    text-align: right;
    margin-right: -15px;
    margin-top: 9px;

    input {
      border-color: $color-primary;
    }

    .search {
      display: inline-block;
      width: 300px;
      height: 34px;
      background-color: $color-fondo-buscador;
      text-align: left;
    }

    input[type="search"].search-header {
      width: 248px;
      display: inline;

      @include main-nav-font();
      @include font-size(1);
      @include line-height(1.5);

      color: #495057;
      background-color: $color-fondo-buscador;
      background-clip: padding-box;
      border: 0;
      padding: 5px;
      border-radius: 0;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    .fas {
      color: #999;
      border-bottom: $color-rojo-resalte solid 2px;
      height: 26px;
      padding-left: 10px;
      width: 40px;

      @include transition();

      &:hover {
        color: $color-menu-hover-active;
      }
    }
  }

  /* ***********SEARCH********* */

  /* ***********SOCIAL SEARCH********* */

  .mobile-social-search-container {
    display: none;

    .social-search-container {
      .nav-social-container {
        padding-top: 0.7rem;
        text-align: left;

        div {
          ul {
            .fab,
            .far {
              color: #000;
            }
          }
        }
      }

      .search-container {
        text-align: right;
        margin-top: 0;
        margin-right: 0;

        .search {
          width: 34px;
          text-align: left;
          height: 33px;

          i {
            width: 34px;
          }

          &:hover {
            i {
              margin-right: 0;
              width: 40px;
              height: 24px;
            }

            input[type="search"].search-header {
              display: inline-block;
            }

            width: 300px;
          }

          input[type="search"].search-header {
            display: none;
          }
        }
      }
    }
  }

  #navMobile {
    display: none;

    #collapsingNavbar4 {
      background-color: $color-header;

      ul.menu {
        margin-bottom: 0;
        padding-left: 0;
        list-style-type: none;

        li {
          &.menu-item {
            color: $color-main-menu;

            @include transition();

            a {
              padding-top: 0;
              padding-bottom: 0;
              padding-left: 0.4375rem;
              padding-right: 0.4375rem;
              position: relative;
              text-decoration: none;
              text-align: left;
              display: block;
              width: max-content;
              color: inherit;
              text-transform: uppercase;

              @include main-nav-font();
              @include font-size(1);
            }

            &.current,
            &.current-menu-item {
              color: $color-menu-hover-active;
            }

            &:hover {
              color: $color-menu-hover-active;
            }
          }
        }
      }
    }
  }
}

.clearfix {
  zoom: 1;
}

/* stylelint-enable no-descending-specificity */
