.tag-input-tag-list {
  position: absolute;
  left: 15px;
  right: 15px;
  top: 54px;
  background-color: #fff;
  z-index: 999999;
  border-width: 1px;
  border-style: solid;
  border-color: #ddd #333 #333 #333;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      list-style: none;

      a {
        &:hover {
          text-decoration: none;
          background-color: #f00;
          color: #fff;
        }

        color: #333;
        display: block;
        padding: 4px 10px;
      }
    }
  }
}
