.widget_twitter {
  ul,
  li {
    margin: 0;
    padding: 0;
    list-style: none;
    background: none;
  }

  ul li {
    padding: 0;
    margin-bottom: 15px;
  }

  ul li::before {
    content: "";
    display: none;
  }

  .entry-content {
    display: block;
  }

  .entry-meta,
  .intent-meta {
    display: block;

    @include font-size(0.8);
  }

  .entry-meta a,
  .intent-meta a {
    padding: 0 5px 0 0;
  }
}
