
@mixin font-size($sizeValue) {
  $remValue: $sizeValue;

  font-size: $remValue * 1em;
}

@mixin line-height($sizeValue) {
  $emValue: $sizeValue;

  line-height: $emValue * 1em;
}

@mixin rounded-corners ($radius-top: 5px, $radius-right: 5px, $radius-bottom: 5px, $radius-lest: 5px) {
  -webkit-border-radius: $radius-top $radius-right $radius-bottom $radius-lest;
  -moz-border-radius: $radius-top $radius-right $radius-bottom $radius-lest;
  -ms-border-radius: $radius-top $radius-right $radius-bottom $radius-lest;
  -o-border-radius: $radius-top $radius-right $radius-bottom $radius-lest;
  border-radius: $radius-top $radius-right $radius-bottom $radius-lest;
}

@mixin border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
  background: none;
}

@mixin transition ($property: all, $duration: 0.3s, $efect: linear, $delay: 0s) {
  -webkit-transition: $property $duration $efect $delay;
  -moz-transition: $property $duration $efect $delay;
  -o-transition: $property $duration $efect $delay;
  -ms-transition: $property $duration $efect $delay;
  transition: $property $duration $efect $delay;
}

@mixin border-shadow ($offset-x: 8px, $offset-y: 5px, $blur-radius: 5px) {
  -webkit-box-shadow: $offset-x $offset-y $blur-radius rgba(0, 0, 0, 0.25);
  box-shadow: $offset-x $offset-y $blur-radius #888;
}

@mixin scroll-middle-shadow($color-text, $background-color-inicio, $background-color-fin, $background-image, $inicio-gradiente, $fin-gradiente) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  background-color: $background-color-fin;
  background-image: -webkit-gradient(linear, left top, right top, color-stop($inicio-gradiente, $background-color-inicio), color-stop($fin-gradiente, $background-color-fin)), url($background-image);
  background-image: linear-gradient(90deg, $background-color-inicio $inicio-gradiente, $background-color-fin $fin-gradiente), url($background-image);
  background-position: 0 0, 0 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  color: $color-text;
}

@mixin image-cover-div($background-image, $position-x: 50%, $position-y: 50%, $opacity: 1) {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  background-image: url($background-image);
  background-position: $position-x $position-y;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: $opacity;
}

@mixin display-flex($direction: row) {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: $direction;
  flex-direction: $direction;
  -ms-flex-direction: $direction;
}

@mixin justify-content($main-align) {
  -webkit-box-pack: $main-align;
  -ms-flex-pack: $main-align;
  justify-content: $main-align;
}

@mixin align-items($secondary-align) {
  -webkit-box-align: $secondary-align;
  -ms-flex-align: $secondary-align;
  align-items: $secondary-align;
}

@mixin flex-wrap($wrap: wrap) {
  -webkit-flex-wrap: $wrap;
  -ms-flex-wrap: $wrap;
  flex-wrap: $wrap;
}

@mixin main-nav-font {
  font-family: $font-ibm-plex-condensed;

  @include font-size(0.9375);

  font-weight: 500;
}

@mixin IbmPlex-light {
  font-family: $font-ibm-plex-condensed;
  font-weight: 300;
}

@mixin flex-order($order: order, $ordersumado: ordersumado) {
  -ms-flex-order: order;
  -webkit-box-ordinal-group: ordersumado;
  order: order;
}

@mixin linea-separadora-superior-completa($color: black, $ancho: 1px, $estilo: solid) {
  border-top-color: $color;
  border-top-width: $ancho;
  border-top-style: $estilo;
}

@mixin linea-separadora-inferior-completa($color: black, $ancho: 1px, $estilo: solid) {
  border-bottom-color: $color;
  border-bottom-width: $ancho;
  border-bottom-style: $estilo;
}

@mixin linea-separadora-izquierda-completa($color: black, $ancho: 1px, $estilo: solid) {
  border-left-color: $color;
  border-left-width: $ancho;
  border-left-style: $estilo;
}

@mixin linea-separadora-derecha-completa($color: black, $ancho: 1px, $estilo: solid) {
  border-right-color: $color;
  border-right-width: $ancho;
  border-right-style: $estilo;
}
