.cf {
  zoom: 1;
}

.cf::before,
.cf::after {
  content: "";
  display: table;
}

.cf::after {
  clear: both;
}

.border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
  background: none;
}

html {
  font-size: 100%;
  height: 100%;
  background-color: $color-fondo;
}

body {
  font-family: $font-ibm-plex;
  color: $color-text;
  font-size: $font-size;

  @include line-height(1.8);

  font-weight: 300;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

*:focus {
  outline: none;
}

h1,
h2,
h3,
h4 {
  font-family: $font-merriweather;
  font-weight: 700;
}

h1 {
  @include font-size(2.375);
  @include line-height(1.2);

  font-weight: 900;
}

h2 {
  @include font-size(1.5);
  @include line-height(1.2);
}

h3 {
  @include font-size(1.3);
  @include line-height(1.2);
}

h4 {
  @include font-size(1.1);
  @include line-height(1.2);
}

p {
  margin-top: 1rem;
  margin-bottom: 1.7rem;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

ol {
  display: block;
  list-style-type: decimal;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 40px;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

i {
  margin-right: 0.5rem;
}

textarea {
  overflow: auto;
}

.menu-inline {
  display: inline-block;
}

.resalte {
  color: $color-rojo-resalte;
}

.sin-margen-superior {
  margin-top: 0;
}

.sin-margen-inferior {
  margin-bottom: 0;
}

.con-margen-superior {
  margin-top: 15px;
}

.con-margen-inferior {
  margin-bottom: 15px;
}

.con-margen-izquierdo {
  margin-left: 15px;
}

.con-margen-derecho {
  margin-right: 15px;
}

.sin-margen-izquierdo {
  margin-left: -15px;
}

.sin-margen-derecho {
  margin-right: -15px;
}

.sin-padding-izquierdo {
  padding-left: 0;
}

.sin-padding-derecho {
  padding-right: 0;
}

.linea-separadora-superior-completa-negra {
  @include linea-separadora-superior-completa();
}

.linea-separadora-superior-completa-gris {
  @include linea-separadora-superior-completa($color-linea-separacion);
}

.linea-separadora-inferior-completa-negra {
  @include linea-separadora-inferior-completa();
}

.linea-separadora-izquierda-completa-gris {
  @include linea-separadora-izquierda-completa($color-linea-separacion);
}

.linea-separadora-derecha-completa-gris {
  @include linea-separadora-derecha-completa($color-linea-separacion);
}

.fondo-blanco {
  background-color: #fff !important;
}

.centar-contenido {
  @include display-flex(row);
  @include justify-content(center);
}

.margen-superior-20 {
  margin-top: 20px;
}

.solbak-input,
.solbak-select {
  display: block;
  width: 100%;
  height: 38px;
  padding: 8px 12px;
  margin-bottom: 10px;
  font-size: 1rem;
  line-height: 1.428571429;
  color: #333;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid #ccc;
}

textarea.solbak-input,
textarea.solbak-select {
  height: auto;
}

figure {
  margin: 0;
  padding: 0;
}

pre {
  padding: 30px;
  background: #f2f2f2;
}

table {
  width: 100%;
}

table th {
  background: #f2f2f2;
  padding: 10px;
  border-right: 1px solid white;
}

table td {
  border-bottom: solid 1px #bfbfbf;
  padding: 10px;
}

blockquote {
  font-family: "Merriweather", Georgia, "Times new roman", serif;
  font-style: italic;

  @include font-size(1.2);

  border-left: solid 3px #fff;
  margin-left: 0;
  padding-left: 30px;
  color: #b3b3b3;
}

hr {
  width: 100%;
  margin: 40px 0;
  height: 1px;
  border: none;
  border-top: solid 1px #fff;
  clear: both;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.alineacion-izquierda {
  text-align: left;
}

.alineacion-derecha {
  text-align: right;
}

.alignnone {
  display: block;
  margin: 25px auto;
}

.wp-caption-text {
  margin: 0 0 10px;

  @include font-size(1.2);
}

.wp-caption {
  max-width: 100%;
}

.solbak-list-unstyled {
  padding-left: 0;
  list-style: none;
}

.avatar {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 1rem;
  border-radius: 50%;
}

//************SOCIAL MENU*********

.nav-social-container {
  padding-top: 0.7rem;
  text-align: left;

  div {
    font-size: 11px;

    ul {
      margin-bottom: 0;
      padding-left: 0;
      list-style-type: none;

      & li {
        display: inline;
      }
    }
  }
}
//************SOCIAL MENU*********

/* =============================================================================

        LAYOUT

============================================================================== */

.container {
  max-width: 1260px;
  margin: 0 auto;
}

main {
  .main-left {
    float: left;
    display: inline-block;
  }
}

footer {
  padding-bottom: 0;
}

//---------------------------------------------------------------------
// WORDPRESS CLASSES
//---------------------------------------------------------------------

.alignleft {
  float: left;
  margin: 0 1em 0.5em 0;
  max-width: 50%;
}

.alignright {
  float: right;
  margin: 0 0 0.5em 1em;
  max-width: 50%;
}

.aligncenter {
  display: block;
  margin: 1.5em auto;
}

.gallery-caption,
.wp-caption-text {
  margin: 0 0 0.5em 0;
  font-size: 0.8em;
  text-align: center;
  font-style: italic;
  //*xxxcolor: lighten($color-text, 35%);
}

.bypostauthor {
  //*xxxbackground: lighten($color-light-grey, 3%) ;
}

.instagram-media {
  margin-left: auto !important;
  margin-right: auto !important;
}

.sticky {
  //*xxxbackground: lighten($color-light-grey, 3%) ;
}

/* Text meant only for screen readers. */

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  white-space: nowrap;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar. */
}

.fas,
.fab,
.far {
  color: $color-primary;
}

.icon-container {
  padding: 1rem;
}

.icon-container h2 {
  font-size: 1.5em;
  color: $color-text;
  text-transform: uppercase;
  font-weight: 300;
}

/* =================Editor============================= */

.has-magenta-oscuro-background-color {
  background-color: #a156b4;
}

.has-magenta-oscuro-color {
  color: #a156b4;
}

.has-magenta-claro-background-color {
  background-color: #d0a5db;
}

.has-magenta-claro-color {
  color: #d0a5db;
}

.has-gris-muy-claro-background-color {
  background-color: #eee;
}

.has-gris-muy-claro-color {
  color: #eee;
}

.has-gris-muy-oscuro-background-color {
  background-color: #444;
}

.has-gris-muy-oscuro-color {
  color: #444;
}

.has-verde-solbak-background-color {
  background-color: #00783c;
}

.has-verde-solbak-color {
  color: #00783c;
}

.has-peque-font-size {
  font-size: 12px !important;
}

.has-mediano-font-size {
  font-size: 16px !important;
}

.has-grande-font-size {
  font-size: 36px !important;
}

.has-extra-font-size {
  font-size: 50px !important;
}

/* =================SCROLL TO TOP====================== */
a.scroll-to-top {
  text-decoration: none;
}

.scroll-to-top {
  position: fixed;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-flex-pack: center;
  -ms-justify-content: center;
  justify-content: center;
  -moz-border-radius: 7px 7px 0 0;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-border-radius: 7px 7px 0 0;
  -webkit-transition: all 0.3s;
  background: $color-footer-volver;

  @include rounded-corners();

  right: 10px;
  bottom: 10px;
  width: 44px;
  height: 44px;
  opacity: 0;
  z-index: -1;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  // -webkit-transition: opacity .4s ease;
  transition: opacity 0.4s ease;

  &::before {
    content: "\f062";
    font-size: 24px;
    line-height: 1;
    color: #fff;
    font-family: "Font Awesome 5 Free", serif;
    font-weight: 900;
  }

  &.on {
    right: 10px;
    opacity: 0.5;
    z-index: 109;
  }

  &.off {
    right: -45px;
    opacity: 0;
  }

  &:hover {
    opacity: 1;
  }

  .screen-reader-text {
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    width: 1px;
    clip: rect(1px, 1px, 1px, 1px);
  }
}

.share-post {
  @include font-size(1);

  margin-top: 2.7rem;

  i {
    @include font-size(2);
  }

  i.fa-facebook-square {
    color: #3b5998;
  }

  i.fa-twitter-square {
    color: #00acee;
  }

  i.fa-google-plus-square {
    color: #db4a39;
  }

  a {
    text-decoration: none;
    color: $color-text;
  }
}
