/* stylelint-disable no-descending-specificity, no-duplicate-selectors, selector-list-comma-newline-after, block-no-empty, rule-empty-line-before */

@media only screen and (min-width: 1200px) {
  header .header-nav-logo {
    .container {
      #header-superior {
        .social-search-container {
          .nav-social-container {
            visibility: visible;
            display: block;
          }
        }
      }
    }
  }

  .form-container {
    margin-right: 0;
  }
}

@media only screen and (min-width: 992px) {
  main {
    .noticia-margen-sidebar-izquierdo {
      margin-left: 90px;
    }
  }
}

@media only screen and (max-width: 1200px) {
  main {
    .banner-horizontal,
    .subtitulo-grupo-noticias-container {
      margin-right: -15px;
    }

    .banner-vertical {
      margin-left: -15px;
      margin-right: -15px;
    }

    #contenido-unico {
      .banner-vertical {
        margin-left: 0;
        margin-right: -15px;
      }
    }

    #contacto-newsletter {
      margin-left: 0;
      margin-right: 0;
    }

    .cta-newsletter {
      margin: 1rem 0;

      .header-logo-container {
        img {
          width: 180px;
          height: auto;
        }

        flex-grow: 0;
      }

      form {
        height: 35px;

        @include display-flex();

        justify-content: space-between;

        div {
          &:first-child {
            flex-grow: 1;
          }
        }
      }

      input[type="submit"],
      input[type="submit"].btn,
      input[type="button"],
      input[type="button"].btn,
      .btn-primary,
      a.btn {
        @include font-size(0.8);
        @include transition();

        color: #fff;
        background-color: $color-naranja-form;
        font-family: $font-ibm-plex-condensed;
        font-weight: 500;
        border: solid 1px $color-naranja-form;
        padding: 3px 3px;
        display: block;
        height: 35px;
      }
      input[type="submit"]:hover,
      input[type="button"]:hover,
      .btn-primary:hover,
      a.btn:hover {
        background-color: #fff;
        border-color: #fff;
        color: $color-naranja-form;
        text-decoration: none;
      }
      input[type="text"] {
        @include font-size(0.8);
        @include line-height(1.2);

        font-family: $font-ibm-plex;
        font-weight: 400;
        display: inline-block;
        color: #495057;
        background-color: $color-fondo-buscador;
        border: 0;
        padding: 3px 3px;
        border-radius: 0;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        height: 35px;
        width: 100%;
      }
    }
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .noticia-margen-sidebar-sololg-izquierdo {
    margin-left: 90px;
  }
}

@media only screen and (max-width: 991px) {

  header {
    .header-nav-logo {
      height: 60px !important;

      .container {
        #header-superior {
          justify-content: space-between;

          .header-logo-container {
            img {
              width: 167px !important;
            }
          }

          .lblSuscribite {
            padding-right: 0;
          }

          .menu-social-container {
            display: none;

            .social-search-container {
              display: none;
            }

            .nav-menu-container {
              height: 100%;
              #main-nav {
                padding-top: 30px;
              }
            }
          }

          .col-mobile-menu {
            display: block;
            padding-top: 0.5rem;

            .lblSuscribite {
              @include font-size(1.1);
              @include font-size(1.375);
            }

            .navbar.navbar-dark {
              display: inline-block;
            }
          }
        }
      }
    }

    .mobile-social-search-container {
      display: block !important;

      .social-search-container {
      }
    }

    #navMobile {
      display: block;
    }
  }
  main {
    .banner-horizontal {
      display: none;
    }

    #grupoHeadlines {
      .noticia-destacada,
      .noticia-horizontal {

      }
    }

    .noticia-destacada.sin-margen-izquierdo {
      margin-left: 0;
    }

    .noticia-margen-sidebar-izquierdo {

    }

    .banner-vertical {
      @include display-flex(column);
      @include flex-wrap();

      margin-right: -15px;
      justify-content: space-around;
    }

    #contenido-unico {
      margin-bottom: 50px;

      .noticia-fecha {
        @include font-size(0.6875);
      }

      .noticia-volanta {
        @include font-size(0.6875);
      }

      .noticia-autor {
        @include font-size(0.6875);
      }
    }

    .cta-newsletter {
      margin: 1rem 0;
      background-color: #000;
      display: block;
      padding: 1rem 0.5rem;
      max-width: 400px;

      .header-logo-container {
        img {
          width: 338px;
          height: auto;
        }
      }

      .input-newsletter-container {

      }
      form {
        height: auto;
        display: block;

        div {
          padding-top: 1rem;
          &:first-child {
            padding-left: 0;
            padding-right: 0;
          }
          &:last-child {

          }
        }
      }
      input[type="submit"],
      input[type="submit"].btn,
      input[type="button"],
      input[type="button"].btn,
      .btn-primary,
      a.btn {
        @include font-size(1);
        @include transition();

        color: #fff;
        background-color: $color-naranja-form;
        font-family: $font-ibm-plex-condensed;
        font-weight: 500;
        border: solid 1px $color-naranja-form;
        padding: 5px 5px;
        display: block;
        height: 35px;
      }
      input[type="submit"]:hover,
      input[type="button"]:hover,
      .btn-primary:hover,
      a.btn:hover {
        background-color: #fff;
        border-color: #fff;
        color: $color-naranja-form;
        text-decoration: none;
      }
      input[type="text"] {
        @include font-size(1);
        @include line-height(1.2);

        font-family: $font-ibm-plex;
        font-weight: 400;
        display: inline-block;
        color: #495057;
        background-color: $color-fondo-buscador;
        border: 0;
        padding: 5px 5px;
        border-radius: 0;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        height: 35px;
        width: 100%;
      }
    }
  }

  footer {
    .container {
      .footer-logo-container {
        img {
          width: 155px;
          height: auto;
        }
      }

      .copyright-container {
        p {
          font-size: 0.725rem;
          &:first-child {
            margin-top: 0.3em;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 850px) {
  header {
    .header-nav-logo {
      .container {
        #header-superior {

          .lblSuscribite {
            padding-right: 0;
          }

          .menu-social-container {
            .nav-menu-container {
              #main-nav {
                ul.menu {
                  li.menu-item {
                    a {
                      @include font-size(0.83);
                    }
                  }
                }
              }
            }
          }

          .col-mobile-menu {
            .lblSuscribite {
              @include font-size(1);
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .header {
    .header-nav-logo {

      .container {
        #header-superior {
          .menu-social-container {
            display: none;
          }

          .col-mobile-menu {
            display: block;

            .lblSuscribite {
              @include font-size(1.375);
            }

            .navbar.navbar-dark {
              display: inline-block;
            }
          }
        }
      }
    }
    #navMobile {
      display: block;
    }
  }
  main {
    .linea-separadora-derecha-completa-gris {
      border-right: none;
    }

    .noticia-margen-sidebar-izquierdo {
      margin-left: 0;
    }

    .noticia-destacada,
    .noticia-vertical,
    .noticia-horizontal {
      .noticia-titulo {
        a {
          h1,
          h2,
          h3,
          h4,
          h5,
          h6 {
            @include font-size(1.25);
            @include line-height(1.2);
            @include transition(color, 0.3s, linear, 0s);

            font-family: $font-merriweather;
            color: $color-text;

            &:hover {
              text-decoration: none;
              color: $color-rojo-resalte;
            }
          }
        }
      }
    }

    .banner-vertical {
      margin-right: -15px;
    }

    #contenido-unico {
      .banner-vertical {
        margin-left: -15px;
      }
    }

    #notas-listado {
      .banner-vertical {
        margin-top: 20px;
      }
    }
  }

  footer {
    .container {
      .copyright-container {
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 520px) {
  header {
    .navTop {
      .container {
        .main.wrapper,
        .wrapperBox {
          height: 26px;

          .header-indicator {
            margin-top: 0;
            margin-right: 1em;
            table {
              td {
                font-size: 0.6875rem;
              }
            }
          }
        }
      }
    }

    .mobile-social-search-container {
      .social-search-container {
        .search-container {
          .search {
            width: 34px;
            text-align: left;
            height: 33px;

            i {
              width: 34px;
            }

            &:hover {
              i {
                width: 34px;
              }

              input[type="search"].search-header {
                display: inline-block;
                width: 100%;
              }

              width: 97%;
              background-color: transparent;
            }

            input[type="search"].search-header {
              display: none;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 410px) {
  header {
    .navTop {
      .container {
        .main.wrapper,
        .wrapperBox {
          .header-indicator {
            table {
              td {
                font-size: 0.7rem;
                padding-right: 0.2rem !important;
                padding-left: 0.2rem !important;
              }
            }
          }
        }
      }
    }
  }

  footer {
    .container {
      .nav-social-container {
        div {
          @include font-size(0.6);
        }
      }
    }
  }
}

@media only screen and (max-width: 360px) {
  .header {
    .navTop {
      .container {
        .main.wrapper,
        .wrapperBox {
          height: 26px;

          .header-indicator {
            margin-top: 0;
            margin-right: 0.8em;
            table {
              td {
                font-size: 0.6rem;
              }
            }
          }
        }
      }
    }

    .mobile-social-search-container {
      .social-search-container {
        .search-container {
          .search {
            width: 34px;
            text-align: left;
            height: 33px;

            i {
              width: 34px;
            }

            &:hover {
              i {
                width: 34px;
              }

              input[type="search"].search-header {
                display: inline-block;
                width: 100%;
              }

              width: 97%;
              background-color: transparent;
            }

            input[type="search"].search-header {
              display: none;
            }
          }
        }
      }
    }

    .header-nav-logo {
      .container {
        #header-superior {
          justify-content: space-between;

          .col-mobile-menu {
            .lblSuscribite {
              @include font-size(1);
            }

            button.navbar-toggler {
              padding-left: 0.2rem;
              padding-right: 0.2rem;
            }
          }
        }
      }
    }
  }

  footer {
    .container {
      .nav-social-container {
        div {
          @include font-size(0.55);
        }
      }
    }
  }
}

/* stylelint-enable no-descending-specificity, no-duplicate-selectors, selector-list-comma-newline-after, block-no-empty, rule-empty-line-before */
