/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (
  primary: #525ddc
);

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

//---------------------------------------------------------------------
// SIZES
//---------------------------------------------------------------------

$font-size: 16px;

//---------------------------------------------------------------------
// COLORS
//---------------------------------------------------------------------

$color-fondo: #fff;
$color-rojo-resalte: #eb452e;
$color-naranja-form: #ec462e;
$color-linea-separacion: #b3b3b3;

$color-gris-claro: #ccc;
$color-gris-oscuro: #666;

$color-header: #000;
$color-menu-top: #f2f2f2;
$color-footer: #fff;
$color-footer-volver: $color-rojo-resalte;

$color-main-menu: #fff;
$color-menu-hover-active: $color-rojo-resalte;
$color-menu-visited: $color-gris-claro;

$color-text: #000;
$color-fondo-primario: #fff;
$color-contraste: #fff;
$color-fondo-buscador: #f2f2f2;

$color-gris-seccion-especial: #d2d2d2;

$color-light-grey: #f6f6f8;

$color-primary: #00783c;
//$color-primary: #9e1f63;
//$color-primary: #007bff;
//$color-secondary: darken($color-primary, 10%);
$color-secondary: #121214;      //Negro
//$color-secondary: #9e1f63;
//$color-sombreado: #37424c;
$color-sombreado: $color-secondary;

$colorLink: $color-secondary;
$textoDestacado: $color-secondary;

//---------------------------------------------------------------------
// FONTS
//---------------------------------------------------------------------

//$font-serif: "Merriweather", Georgia, "Times new roman", serif;
//$font-sans: "Avenir Light", Roboto, Helvetica, Arial, sans-serif;
//$font-black: "Avenir Black", Georgia, "Times new roman", serif;

$font-ibm-plex: "IBM Plex Sans", sans-serif, Roboto;
$font-ibm-plex-condensed: "IBM Plex Sans Condensed", sans-serif;
$font-merriweather: "Merriweather", serif;
$font-suscribite: $font-merriweather;

//---------------------------------------------------------------------
// IMAGENES
//---------------------------------------------------------------------

$image-header: "../../images/167215_wwwsolbakcomar_8_1920-compressor.jpg";
$image-sidebar-bottom: "../../images/167215_wwwsolbakcomar_24_3000-compressor.jpg";

@font-face {
  font-family: "IBM Condensed Medium";
  src: url("../fonts/IBMPlexSansCondensed-Medium.ttf");
  font-display: fallback;
}

@font-face {
  font-family: "Avenir Black";
  src: url("../fonts/Avenir-Black-webfont.woff");
  font-display: fallback;
}
